<head>
    <%= stylesheet_link_tag "landing.css" %>
</head>
<body>
<div id="social_icons">
<a href="https://facebook.com/exmna"><img class="social" src="<%= asset_path( 'facebook.png' ) %>" /></a>
<a href="https://twitter.com/exmuslimsofna"><img class="social" src="<%= asset_path( 'twitter.png' ) %>" /></a>
<a href="https://plus.google.com/+exmna"><img class="social" src="<%= asset_path('googleplus.png') %>" /></a>
<a href="mailto:community@exmna.org"><img class="social" src="<%= asset_path( 'email.png' ) %>" /></a>
</div>


<div id="thanks_text">
<i class="fa fa-check-circle fa-lg" style="color: green"></i> Thanks for your interest! We'll be in touch. In the meantime check out our social media pages!
</div>
</body>
