<div class="form">
  <%= simple_form_for(@note) do |f| %>
    <%= f.input :comment, label: "Add your thoughts" %></br>
    <%= f.hidden_field :user_id, :value => @current_user.id %>
    <%= f.input :note_type, as: :radio_buttons, collection:
          ["pending", "screen1", "screen2", "screen3", "in person",
           "approved", "denied"] %></br>
    <%= f.submit "Save", class: "btn btn-form" %></br>
    <%= link_to "Cancel", candidates_path, class: "btn btn-form" %></br>
  <% end %>
</div>
