<style>
.exmna-nav {
  background-color: #3D2347;
}
.box {
  width: 60%;
  height: 30px;
  padding-bottom: 60px;
  background-color: #913999;
  color: #fff;
}
.box-right {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
.navbar-center {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  float: none;
  text-align: center;
}
.box-text {
  padding-top: 15px;
  padding-left: 15px;
  float: left;
}
.btn {
  background-color: transparent;
  color: #fff;
}
.nav-text {
  padding-top: 10px;
  float: right;
  color: #fff;
}
.navbar-center {
  color: #fff;
  text-align: center;
  margin: 0px auto;
}
.right {
  float: right;
  margin-right: 10px;
  opacity: 0.7;
  color: #3D2347;
  font-weight: 400;
  font-size: 18px;
}
#skype {
  opacity: 0.7;
}
.white_link {
  color: #fff;
}
html {
  font-family: 'Source Sans Pro', sans-serif;
}
</style>
<head>
  <link rel="stylesheet" href="./app/assets/stylesheets/animations.css">
</head>

<body>
<div>
<nav class="navbar navbar-default navbar-static-top exmna-nav">
  <div class="container">
    <p class="navbar-text navbar-right"><div class="nav-text">Happy <%= Time.now.strftime('%A') %> <%= @current_user.firstname %>! <u>
    <%= link_to "Logout", logout_path, class: "white_link" %></p></u></div>
  </div>
</nav>
</div>

<p><a href="/"class="right slideUp">Back to All Applicants <i class="fa fa-angle-right"></i></a></p><BR><BR>
<% @users.each do |user| %>
  <div class="box center slideUp">
    <div class="box-text"><%= user.firstname %> <%= user.lastname %> <span id="skype">skype</span> <a class="white_link" href="skype:<%= user.skype %>"><%= user.skype %></a></div>
  <div class="box-right">
  <% if user.screener? %>
    <%= link_to "Revoke Access", revoke_access_user_path(user), class: "btn btn-danger", method: :put %>
  <% else %>
    <%= link_to "Grant Access", grant_access_user_path(user), class: "btn btn-default", method: :put unless user.admin? %>
  <% end %>
</div>
</div>
  </br>
<% end %>
</body>

