<body> 
<div> 
<nav class="navbar navbar-default navbar-static-top exmna-nav">
  <div class="container">
    <p class="navbar-text navbar-right"><div class="nav-text">Happy <%= Time.now.strftime('%A') %> <%= @current_user.firstname %>! <u><%= link_to "Logout", logout_path, class: "white_link" %></p></u></div>
  </div>
</nav>
</div>
<p class="left slideUp"><i class="fa fa-angle-left"></i> <%= link_to "All candidates", candidates_path, class: "left" %></p><BR><BR>
</br>


<div class="form-group centered">
  <%= form_for(@candidate) do |f| %>
    <%= f.label "First name" %>
    <%= f.text_field :firstname %></br>
    <%= f.label "Last name" %>
    <%= f.text_field :lastname %></br>
    <%= f.label "Skype ID" %>
    <%= f.text_field :skype %></br>
    <%= f.label "Google Hangout" %>
    <%= f.text_field :hangout%></br>
    <%= f.label "City" %>
    <%= f.text_field :city %></br>
    <%= f.submit "Save", class: "btn btn-success" %>
    <%= link_to "Cancel", candidates_path, class: "btn btn-danger" %></br>
  <% end %>
</div>
