<head>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "notes.css" %>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
  function init() {
    $(".row").css("height", $(window).height());
  }
  $(document).ready(function() {
    init();
  });
  </script>
</head>

<body>
  <div class="row">
    <div id="currNotes" class="col-lg-6">
        <nav id="candidateData" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
              <%= link_to "<i class='fa fa-angle-left'></i> All Candidates".html_safe, candidates_path, class: "btn btn-default navbar-btn border-button borderless" %>
              <%= link_to "Edit", edit_candidate_path(@candidate), class:"btn btn-default navbar-btn right-button border-button" %>
          </div>
        </nav>
        <div id="candidateInfo">
        <%= @candidate.firstname %>
        <%= @candidate.lastname %>
        from <%= @candidate.city %>
        </br>
        skype: <a class="white_link" href="skype:<%= @candidate.skype %>"><%= @candidate.skype %></a>
        </br>
        Status: <%= @candidate.status.to_s.humanize %>
        </div>
        <div id="notesList">
          <% @notes.each do |note| %>
          <div class="note">
            <div class="note-meta clearfix">
              <div class="note-date-taken pull-left">
                <span class="note-date-taken-ago">
                  <%= note.created_at.strftime("%m/%d/%Y at %I:%M%p")  %>
                </span>
              </div>
              <div class="note-type pull-right">
                <%= note.note_type.to_s.humanize %> noted by
                <span class="note-noted-by note-noted-by-1">
                  <%= note.user.firstname.humanize %>
                </span>
              </div>
            </div>
            <div class="note-body">
              <p><%= note.comment %></p>
            </div>
          </div>
          <% end %>
        </div>
    </div>

    <div id="newNotes" class="col-lg-6">
      <nav id="candidateData2" class="navbar navbar-default navbar-fixed-top">
        <%= simple_form_for(@note) do |f| %>
          <%= f.input :note_type, as: :radio_buttons, label: false, class: 'display-inline', collection:
            ["pending", "screen1", "screen2", "screen3", "in person",
             "approved", "denied"] %>
          <%= f.input :comment, label:false, input_html: { id:"comments" }, placeholder:"Type to enter a new note..." %></br>

          <%= f.hidden_field :user_id, value: @current_user.id %>
          <%= f.submit "Save this note", class: "btn btn-default navbar-btn border-button", url: notes_path %></br>
        <% end %>
      </nav>
    </div>
  </div>
</body>
