<head>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
<style>

#currNotes {
  background: #573E60;
  color: #fff;
  min-height: 100%;
}
#newNotes {
  background: #E9E4E9;
  color: #fff;
  min-height: 100%;
}
#candidateData {
  position:relative;
  border-color: #3D2347;
  background-color: #3D2347;
  color: #3D2347;
}
#candidateData2 {
  position:relative;
  border-color: transparent;
  background-color: transparent;
  color: #573E60;
}
.right-button {
  position: absolute;
  right: 10px;
}
.col-lg-6 {
  padding-right: 0px;
  padding-left: 0px;
}
.border-button {
  background-color: transparent;
  color: #fff;
  opacity: 0.7;
  font-size: 18px;
}
.borderless {
  border-color: transparent;
}
#comments {
  color: #573E60;
  font-size: 24px;
  font-weight: 100;
  opacity: 0.7;
  border: none;
  background: transparent;
  width: auto;
  height: 80%;
  resize: none;
  padding: 0 1.5em;
}
#comments:focus {
  outline: 0;
}

#newNotes .btn {
  color: rgba(87, 62, 96, 0.7);
  border: 1px rgba(175, 162, 178, 0.4) solid;
}

#candidateData2 {
  padding: 0 1.5em;
}

.row {
  margin-left: 0
}

#notesList {
  margin-left: 2em;
  margin-right: 2em;
}
.note {
  margin-bottom: 2em;
}
.note-meta {
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  position: relative;
}
.note-meta:before {
  position: absolute;
  border-top: 1px rgba(255,255,255,0.6) solid;
  width: 1.8em;
  height: 0;
  top: 0.8em;
  left: -2em;
}
.note-body {
  margin-top: 0.5em;
  font-size: 20px;
  font-weight: 100;
}

.note-body p {
  margin: 0;
}

.note-type {
  text-align: right;
}
.white_link {
  color: #fff;
}

.newnote-additional-fields {
  padding: 1.5em;
}
.newnote-additional-fields p {
  color: rgba(87, 62, 96, 0.7);
  font-size: 18px;
}
#content {
  height: 100%;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  color: #fff;
}
#candidateInfo {
  padding-left: 20px;
  padding-bottom: 10px;
}

</style>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
  function init() {
    $(".row").css("height", $(window).height());
  }
  $(document).ready(function() {
    init();
  });
  </script>
</head>

<body>
  <div class="row">
    <div id="currNotes" class="col-lg-6">
        <nav id="candidateData" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <button type="button" class="btn btn-default navbar-btn border-button borderless">
              <span class="glyphicon glyphicon-menu-left"></span><%= link_to "All candidates", candidates_path %></button>
            <button type="button" class="btn btn-default navbar-btn right-button border-button"><%= link_to "Edit", edit_candidate_path(@candidate), class:"white_link" %></button>
          </div>
        </nav>
        <div id="candidateInfo">
        <%= @candidate.firstname %>
        <%= @candidate.lastname %>
        from <%= @candidate.city %>
        </br>
        skype: <a class="white_link" href="skype:<%= @candidate.skype %>"><%= @candidate.skype %></a>
        </br>
        Status: <%= @candidate.status %>
        </div>
        <div id="notesList">
          <% @notes.each do |note| %>
          <div class="note">
            <div class="note-meta clearfix">

              <div class="note-date-taken pull-left">
                <span class="note-date-taken-ago">
                  <%= note.created_at.strftime("%m/%d/%Y at %I:%M%p")  %>
                </span>
              </div>
              <div class="note-type pull-right">
                <%= note.note_type %> noted by
                <span class="note-noted-by note-noted-by-1">
                  <%= note.user.firstname %>
                </span>
              </div>
            </div>
            <div class="note-body">
              <p><%= note.comment %></p>
            </div>
          </div>
          <% end %>
        </div>
    </div>

    <div id="newNotes" class="col-lg-6">
      <nav id="candidateData2" class="navbar navbar-default navbar-fixed-top">
          <%= form_for @note :url => new_note_path(@note, :candidate_id => @candidate.id), :html => {:method => :post} do |f| %>
        <div class="dropdown">
          <button type="button" class="btn btn-default navbar-btn border-button dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1">Save this note</button>
          <div class="newnote-additional-fields dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <p>What kind of note is this?</p>
            <div class="radio">
                <%= radio_button_tag(:note_type, "screen1") %>
                <%= label_tag(:type2, "Screen 1") %>
            </div>
            <div class="radio">
              <%= radio_button_tag(:note_type, "screen2") %>
              <%= label_tag(:type3, "Screen 2") %>
            </div>
            <div class="radio">
              <%= radio_button_tag(:note_type, "screen3") %>
              <%= label_tag(:type4, "Screen 3") %>
            </div>
            <div class="radio">
              <%= radio_button_tag(:note_type, "in_person") %>
              <%= label_tag(:type5, "In person") %>
            </div>
            <div class="radio">
              <%= radio_button_tag(:note_type, "approved") %>
              <%= label_tag(:type6, "Approved") %>
            </div>
            <div class="radio">
              <%= radio_button_tag(:note_type, "denied") %>
              <%= label_tag(:type7, "Denied") %></br>
            </div>
              <%= f.submit "Save this note for real", class: "btn btn-default navbar-btn border-button" %></br>
          </div>
        </div>
      </nav>

      <textarea id="comments" rows="4" cols="50" placeholder="Type to enter a new note..."></textarea>
    </div>
    <% end %>
  </div>
</body>
<%= link_to "Add note", new_note_path(candidate_id: @candidate.id) %></br>





